<div class="container">
  <h2 class="text-center">All Sumbited Tickets</h2>
  <p>View all tickets from users here</p>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Priority</th>
        <th scope="col">Description</th>
        <th scope="col">Date Published</th>
        <th scope="col">Status</th>
        <th scope="col">Date Resolved</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>High</td>
        <td>Unable to submit timsheet properly</td>
        <td>09.01.2022</td>
        <td>Pending</td>
        <td></td>
        <td>
          <button type="button" class="btn btn-outline-primary">Edit</button
          >&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-info">
            View Details</button
          >&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-success">Add New Ticket</button>
</div>
